.mobile {
    font-family: Comic Sans MS, Menlo, baskerville, adoble caslon pro, sans, serif;
    font-size: 200%;
    text-align: center;
    background-color: rgb(243, 249, 255);
    color: #576574;
    line-height: 1.45em;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.win, .mac, .linux:not(.android) {
    font-family: Comic Sans MS, Menlo, baskerville, adoble caslon pro, sans, serif;
    font-size: 1.15em;
    text-align: center;
    background-color: rgb(243, 249, 255);
    color: #576574;
    line-height: 1.6em;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.win header, .mac header, .linux:not(.android) header {
    min-width: 100px;
    width: 40%;
    font-family: "Consolas", serif;
    font-size: 80%;
    line-height: 1.5em;
    height: 4em;
    display: flex;
    align-items: center;
    color: #D7DEE9;
    padding: 0;
    margin: 1% auto 3% auto;
    background: white;
    box-shadow:
            -10px 10px 30px 0 #FFFFFF,
            10px 10px 10px 0 #609ed0;
    text-overflow: ellipsis;
    word-break: break-word; /* Wrap long words */

    border-radius: 9px;
    border-width: 2px;
    border-style: solid;
    border-color: #e1ebef #cadbea #cadbea;
    border-image: initial;
}
.mobile header {
    min-width: 100px;
    width: 75%;
    font-family: "Consolas", serif;
    font-size: 50%;
    line-height: 1.2em;
    height: 4.3em;
    display: flex;
    color: #D7DEE9;
    padding: 0;
    margin: 10% auto 0 auto;
    box-shadow:
            -10px 10px 30px 0 #FFFFFF,
            10px 10px 10px 0 #609ed0;
    text-overflow: ellipsis;
    word-break: break-word; /* Wrap long words */

    background: white;
    border-radius: 20px;
    border-width: 3px;
    border-style: solid;
    /*border-color: rgb(227, 226, 224) rgb(214, 214, 211) rgb(214, 214, 211);*/
    border-color: #e1ebef #cadbea #cadbea;
    border-image: initial;
}
.win #theContent, .mac #theContent, .linux:not(.android) #theContent {
    display: flex;
    height: 80%;
    justify-content: center;
}
.mobile #theContent{
    perspective: 2000px;
    display: flex;
    height: 75%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 3%;
    padding: 15% 5% 5%;

}

.mobile #flippingCard { /* for mobile devices */
    height: 100%;
    width: 90%;
    position: relative;
    transform-style: preserve-3d; /* Ensures child elements are rendered in 3D space */
    transition: transform 0.4s; /* Smooth transition for the flip */
    transform-origin: center;
    z-index: 3;
}
.win #flippingCard, .mac #flippingCard, .linux:not(.android) #flippingCard{
    height: 100%;
    width: 100%;
}


.win .face, .mac .face, .linux:not(.android) .face {
    height: 95%;
    aspect-ratio: 10/16;
    padding: .4%;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;

    background: white;
    border-radius: 17px;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(227, 226, 224) rgb(214, 214, 211) rgb(214, 214, 211);
    border-image: initial;
    box-shadow: 0px 0px 30px 2px rgba(145,156,247,0.34);
    -webkit-box-shadow: 0px 0px 30px 2px rgba(145,156,247,0.34);
    -moz-box-shadow: 0px 0px 30px 2px rgba(145,156,247,0.34);
}

.mobile .face{
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    width: 100%;
    height: 100%;
    padding: 15px;
    margin: 0;

    position: absolute;
    backface-visibility: hidden;

    background: white;
    border-radius: 40px;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(227, 226, 224) rgb(214, 214, 211) rgb(214, 214, 211);
    border-image: initial;
    box-shadow: 0px 0px 30px 2px rgba(145,156,247,0.34);
    -webkit-box-shadow: 0px 0px 30px 2px rgba(145,156,247,0.34);
    -moz-box-shadow: 0px 0px 30px 2px rgba(145,156,247,0.34);
}
.mobile #recto{
}
.mobile #verso{
    transform: rotateY(180deg);
}

.mobile #bckgCards { /* for mobile devices */
    height: 100%;
    width: 90%;
    position: absolute;
}
.win #bckgCards, .mac #bckgCards, .linux:not(.android) #bckgCards {
    display: none;
}
#bckgFace1{
    transform: rotate(4deg);
    z-index: 1;
}
#bckgFace2{
    transform: rotate(-4deg);
    z-index: 2;
}
#bckgFace2 p{
    filter: blur(10px);
}
.win #recto, .mac #recto, .linux:not(.android) #recto {
    animation-iteration-count: 1;
    animation: splittingCardLeft 1.1s;
    z-index: 1;
}
.win #verso, .mac #verso, .linux:not(.android) #verso {
    animation-iteration-count: 1;
    animation: splittingCardRight 1.1s;
}

.win .inRecto #verso, .mac .inRecto #verso, .linux:not(.android) .inRecto #verso {
    display: none;
}

@keyframes splittingCardLeft{
    from{
        transform: translateX(95%);
    }
    to{
        transform: translateX(0px);
    }
}

@keyframes splittingCardRight{
    from{
        transform: translateX(-95%);
    }
    to{
        transform: translateX(0px);
    }
}



/* STYLE FOR CLOZE DELETIONS */
.cloze, .cloze b, .cloze u, .cloze i { font-weight: bold; color: MediumSeaGreen !important;}
/* COLOR ACCENTS FOR BOLD-ITALICS-UNDERLINE */
b { color: #C695C6 !important; } /* BOLD STYLE */
u { text-decoration: none; color: #5EB3B3;} /* UNDERLINE STYLE */
i  { color: IndianRed; } /* ITALICS STYLE */
a { color: LightGray !important; text-decoration: none; font-size: 10px; font-style: normal; } /* LINK STYLE */


/* IMAGE STYLE */
img { display: block; max-width: 100%; max-height: none;
    margin: 10px auto 10px auto;}
tr {font-size: 12px; }